<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td th:text="'Задание'"></td>
        <td th:text="'Контракт'"></td>
        <td th:text="'Автор'"></td>
        <td th:text="'Работник'"></td>
        <td th:text="'Приоритет'"></td>
        <td th:text="'Статус'"></td>
        <td th:text="'Описание'"></td>
        <td th:text="'Дата создания'"></td>
        <td th:text="'Дата принятия в работу'"></td>
        <td th:text="'Дата истечения'"></td>
        <td th:text="'Дата завершения работы'"></td>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${Tasks}">
        <td th:text="${task.getTaskCode()}"></td>
        <td>
            <span th:if="${not (task.getContractCode().getContractCode() == null)}"
              th:utext="${task.getContractCode().getContractCode()}"></span>
            <span th:if="${(task.getContractCode().getContractCode() == null)}"
                  th:utext="'Нет данных'"></span>
        </td>
        <td th:text="${task.getContractCode().getContractCode()}"></td>
        <td th:text="${task.getAuthorCode().getWorkerName()}"></td>
        <td th:text="${worker.findWorkerByWorkerCode(task.getWorkerCode()).getWorkerName()}"></td>
        <td th:text="${task.getTaskPriority()}"></td>
        <td th:text="${task.getTaskStatus()}"></td>
        <td th:text="${task.getTaskDescription()}"></td>
        <td th:text="${task.getAddDate()}"></td>
        <td th:text="${task.getActivationDate()}"></td>
        <td th:text="${task.getExpirationDate()}"></td>
        <td th:text="${task.getCompleteDate()}"></td>
        <td><a th:href="@{}">edit</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>