<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform" lang="">
<head>
  <title>Spring Security Example </title>
</head>
<body>

<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
  Login Failed<br/>
  Reason:
  <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
        th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
</div>

<form th:action="@{/login}" th:method="post">

  <div>
    <label> User Name : <input th:type="text" th:name="username"/> </label>
  </div>
  <div>
    <label> Password: <input th:type="password" th:id = "password" th:name="password"/> </label>
    <input th:type="checkbox" th:onclick="myFunction()"> Show Password

  </div>
  <div><input type="submit" value="Sign In"/></div>
</form>

<script>
  function myFunction() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
</body>
</html>