<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1 th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <a th:href="@{/toDo}">Задание на выполнение</a><br>
    <a th:unless="${roleName == 'employee'}" th:href="@{/manageTasks}">Управлять заданиями</a><br>
    <a th:unless="${roleName == 'employee'}" th:href="@{/CSV}">Составить отчёт</a><br>
    <a th:unless="${roleName == 'employee'}"th:href="@{/clients}">Список контактов</a><br>
    <a th:unless="${roleName == 'employee'}" th:href="@{/manageWorkers}">Список работников</a><br>
    <a th:if="${roleName == 'admin'}" th:href="@{/users}">Управлять аккаунтами</a><br>
</div>
</body>
</html>