<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Список работников</p>
<table>
  <thead>
  <tr>
    <td th:text="'Код работника'"></td>
    <td th:text="'Роль'"></td>
    <td th:text="'Имя'"></td>
    <td th:text="'Телефон'"></td>
    <td th:text="'Email'"></td>
    <th></th>
  </tr>
  </thead>
  <td><a th:href="@{'/manageWorkers/addingWorker'}">Добавить нового раба</a></td>
  <tbody>
  <tr th:each="worker: ${Workers}">
    <td th:text="${worker.getWorkerCode()}"></td>
    <td th:text="${worker.getRoleID().getRoleName().replace('_role', '')}"></td>
    <td th:text="${worker.getWorkerName()}"></td>
    <td th:text="${worker.getWorkerTelephone()}"></td>
    <td th:text="${worker.getWorkerEmail()}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>