<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/user/edit/{accountCode}(accountCode=${accountCode})}" th:method="post">
    <label>
        <input th:type="text" th:name = "username" th:value="${account.getLogin()}">
    </label>
    <label>
        <input th:readonly="readonly" th:type="text" th:name = "accountCode"  th:value = "${accountCode}">
    </label>
    <label th:for="roles"></label>
    <label>
        <select th:name="roles" th:id="roles">
            <option th:selected = "${roleSelected.equals('employee')}" th:value="employee">employee</option>
            <option th:selected = "${roleSelected.equals('manager')}" th:value="manager">manager</option>
        </select>
    </label>
    <label>
        <input th:type="text" th:name = "password">
    </label>
    <button th:type="submit">Save</button>
</form>
</body>
</html>

